* {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
}

#nav-bar {
    background: #0072c6;
}

.container {
    display: flex;

}

/* ul li a {
    padding: 300px;
    ;
} */

ul li a:hover {
    color: black;
}

/* a.home {
    padding-right: 100px
} */


.explainer {
    padding: 50px;
}

/* responsive nav */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 30px 50px;
}

.container>li {
    flex: 1;
}

@media all and (max-width: 600px) {

    .container {
        flex-wrap: wrap;
    }

    .container>li {
        flex-basis: 50%;
    }

}

@media all and (max-width: 400px) {
    .container>li {
        flex-basis: 100%;
    }
}